USE [master]
GO
/****** Object:  Database [HouseRent]    Script Date: 05/25/2021 17:04:33 ******/
CREATE DATABASE [HouseRent] ON  PRIMARY 
( NAME = N'HouseRent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HouseRent.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HouseRent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HouseRent_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HouseRent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HouseRent]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 05/25/2021 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Status] ON
INSERT [dbo].[Status] ([StatusId], [StatusDescription]) VALUES (1, N'Requested')
INSERT [dbo].[Status] ([StatusId], [StatusDescription]) VALUES (2, N'Approved')
INSERT [dbo].[Status] ([StatusId], [StatusDescription]) VALUES (3, N'Rejected')
SET IDENTITY_INSERT [dbo].[Status] OFF
/****** Object:  Table [dbo].[UserType]    Script Date: 05/25/2021 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserRole] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserType] ON
INSERT [dbo].[UserType] ([id], [UserRole]) VALUES (1, N'Customer')
INSERT [dbo].[UserType] ([id], [UserRole]) VALUES (2, N'Seller')
SET IDENTITY_INSERT [dbo].[UserType] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 05/25/2021 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[UserRoleId] [int] NOT NULL,
	[Images] [varbinary](max) NULL,
	[Location] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([id], [FirstName], [LastName], [Email], [Password], [PhoneNumber], [UserRoleId], [Images], [Location]) VALUES (3, N'Nithin', N'S', N'snithin10@gmail.com', N'snithin', N'9443896223', 1, NULL, NULL)
INSERT [dbo].[Users] ([id], [FirstName], [LastName], [Email], [Password], [PhoneNumber], [UserRoleId], [Images], [Location]) VALUES (4, N'Parkavi', N'Subramaniam', N'parkavi8324@gmail.com', N'Parkavis10$', N'9500962532', 2, NULL, N'Salem')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[UserPosts]    Script Date: 05/25/2021 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPosts](
	[PostId] [int] NOT NULL,
	[RequestedUserId] [int] NOT NULL,
	[PostStatus] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[UpdatedBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PostId] ASC,
	[RequestedUserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[UserPosts] ([PostId], [RequestedUserId], [PostStatus], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, 1, 4, CAST(0x0000AD2800D918EC AS DateTime), 1, CAST(0x0000AD2A0124B24B AS DateTime), 1)
INSERT [dbo].[UserPosts] ([PostId], [RequestedUserId], [PostStatus], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, 9, 3, CAST(0x0000AD2900CAD59F AS DateTime), 9, CAST(0x0000AD2C011177CF AS DateTime), 6)
INSERT [dbo].[UserPosts] ([PostId], [RequestedUserId], [PostStatus], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy]) VALUES (1, 10, 4, CAST(0x0000AD2800DBEA50 AS DateTime), 10, CAST(0x0000AD2A012C1290 AS DateTime), 10)
/****** Object:  StoredProcedure [dbo].[RegistrationInsert]    Script Date: 05/25/2021 17:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[RegistrationInsert]
@FirstName nvarchar(max),
@LastName nvarchar(max),
@Email nvarchar(max),
@PhoneNumber nvarchar(max),
@Password nvarchar(max),
@UserRoleId int
as
begin
  insert into dbo.Users(FirstName,LastName,Email,Password,PhoneNumber,UserRoleId) values(@FirstName,@LastName,@Email,@Password,@PhoneNumber,@UserRoleId)
end
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 05/25/2021 17:04:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HouseName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Floor] [int] NOT NULL,
	[Bedroom] [int] NOT NULL,
	[Kitchen] [bit] NOT NULL,
	[Dining] [bit] NOT NULL,
	[Family] [nvarchar](max) NULL,
	[Bachelor] [nvarchar](max) NULL,
	[Office] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[Rent] [int] NOT NULL,
	[Additional] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[isDeleted] [int] NOT NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON
SET IDENTITY_INSERT [dbo].[Posts] OFF
/****** Object:  Default [DF__Posts__isDeleted__20C1E124]    Script Date: 05/25/2021 17:04:45 ******/
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [isDeleted]
GO
/****** Object:  ForeignKey [FK__users__UserRoleI__0519C6AF]    Script Date: 05/25/2021 17:04:35 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserType] ([id])
GO
/****** Object:  ForeignKey [FK__UserPosts__Creat__29572725]    Script Date: 05/25/2021 17:04:35 ******/
ALTER TABLE [dbo].[UserPosts]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([id])
GO
/****** Object:  ForeignKey [FK__UserPosts__PostS__276EDEB3]    Script Date: 05/25/2021 17:04:35 ******/
ALTER TABLE [dbo].[UserPosts]  WITH CHECK ADD FOREIGN KEY([PostStatus])
REFERENCES [dbo].[Status] ([StatusId])
GO
/****** Object:  ForeignKey [FK__UserPosts__Reque__286302EC]    Script Date: 05/25/2021 17:04:35 ******/
ALTER TABLE [dbo].[UserPosts]  WITH CHECK ADD FOREIGN KEY([RequestedUserId])
REFERENCES [dbo].[Users] ([id])
GO
/****** Object:  ForeignKey [FK__UserPosts__Updat__2A4B4B5E]    Script Date: 05/25/2021 17:04:35 ******/
ALTER TABLE [dbo].[UserPosts]  WITH CHECK ADD FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([id])
GO
/****** Object:  ForeignKey [FK__Posts__CreatedBy__1ED998B2]    Script Date: 05/25/2021 17:04:45 ******/
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([id])
GO
